ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: midnightblue;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

#active {
  background-color: #000000;
}
header {
    background-image: url(../Images/kelvin.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color:black;
    border: 1px solid white;
    border-radius: 5px;
}

footer{
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: grey;
    text-align: center;
}
body{
    font-family: Verdana;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
}
main{
    margin: 15px 200px;
    padding: 20px;
    border: solid black;
    background: white;
    min-height: 500px;
}
header p{
    position: relative;
    top: 10px;
    font-style: italic;
    text-align: center;
}
.required{
    font-weight: bold;
    color: red;
}
label{
    float: left;
    width: 112px; 
    padding-right: 10px; 
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}
input[type="radio"] {
    width: 10px;
}
input[type="checkbox"] {
    width: 15px;
}
#button{
    margin-left: 138px;
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}
#reset{
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}